{{ define "order/order.html" }}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>我的订单</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<script src="/static/script/jquery-1.7.2.js"></script>
<script>
	$(function(){
		//给删除订单的超链接绑定单击事件
		$(".deleteOrder").click(function(){
			var OrderID = $(this).attr("id");
			return confirm("确定要删除订单"+OrderID+"吗？");
		});
	});
	$(function(){
		//给付款的超链接绑定单击事件
		$(".payOrder").click(function(){
			var OrderID = $(this).attr("id");
			return confirm("确定要支付订单"+OrderID+"吗？");
		});
	});
	$(function(){
		//给收货的超链接绑定单击事件
		$(".signOrder").click(function(){
			var OrderID = $(this).attr("id");
			return confirm("确定订单"+OrderID+"已收货？");
		});
	});
</script>
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" src="/static/img/logo.gif" >
			<span class="wel_word">我的订单</span>
			<div>
				<span>欢迎<span class="um_span">{{.Name}}</span>光临尚硅谷书城</span>
				<!-- <a href="/getMyOrder">我的订单</a> -->
				<a href="/logout">注销</a>&nbsp;&nbsp;
				<a href="/home">返回</a>
			</div>
	</div>
	
	<div id="main">
		<table>
			<tr>
				<th>单号</th>
				<th>日期</th>
				<th>数量</th>
				<th>金额</th>
				<th>详情</th>
				<th>当前状态</th>
			</tr>		
		{{range .Orders}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.CreateTime}}</td>
				<td>{{.TotalCount}}</td>
				<td>{{.TotalAmount}}</td>
				<td><a href="/showOrderItems?orderID={{.ID}}">查看详情</a></td>
				<td class="state">
					{{if .Delivering}}
						已发货（<a id="{{.ID}}" class="signOrder" href="/signed?orderID={{.ID}}">确认收货</a>）
					{{end}}
					{{if .WaitingDelivery}}
						等待发货
					{{end}}	
					{{if .Signed}}
						已签收
					{{end}}
					{{if .Unpaid}}	
						未付款（<a id="{{.ID}}" class="payOrder" href="/pay?orderID={{.ID}}">支付</a>）
					{{end}}		
					{{if .Paid}}	
						已付款
					{{end}}
				</td>
				<td><a id="{{.ID}}" class="deleteOrder" href="/cancelOrder?orderID={{.ID}}">取消订单</a></td>
			</tr>
		{{end}}		
		</table>
	</div>
	
	<div id="bottom">
		<span>
			小陈书城.Copyright &copy;2023(该网站仅供个人测试使用，不涉及任何金钱交易)
		</span>
	</div>
</body>
</html>
{{end}}